 img 
#footer {
        text-align: center;
        position: fixed;
        height: 36px;
        background-color: #262A10;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        float:right;
        overflow:auto;
    }
    * {
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        background-color: #333;
        display: flex;
        align-items: center;
        font-size: 3rem;
        flex-direction: column;
        color: white;
      }
      
      .title {
        margin: 20px;
      }
      .subtext {
        color: #262A10;
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
      .board {
        display: inline-grid;
        padding: 10px;
        grid-template-columns: repeat(var(--size), 60px);
        grid-template-rows: repeat(var(--size), 60px);
        gap: 4px;
        background-color: #141204; 
      }
        .board > [data-status="hidden"] {
            background-color: #262A10;
            cursor: pointer;
          }
          
          .board > [data-status="mine"] {
            background-color: red;
          }
          
          .board > [data-status="number"] {
            background-color: none;
          }
          
          .board > [data-status="marked"] {
            background-color: #A9714B;
          } 
          #timer, #bomb-counter {
            font-family: 'Digital Dismay';
            font-size: 35px;
            letter-spacing: 1px;
            color: red;
            background-color: black;
            text-align: center;
            padding: 4px 4px 0 7px;
            line-height: 1em;
        }