#footer {
        text-align: center;
        position: fixed;
        height: 36px;
        background-color: #BFBFBF;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
    }
    * {
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        background-color: #333;
        display: flex;
        align-items: center;
        font-size: 3rem;
        flex-direction: column;
        color: white;
      }
      
      .title {
        margin: 20px;
      }
      .board {
        display: inline-grid;
        padding: 10px;
        grid-template-columns: repeat(var(--size), 60px);
        grid-template-rows: repeat(var(--size), 60px);
        gap: 4px;
        background-color: #141204; 
      }
        .board > [data-status="hidden"] {
            background-color: #262A10;
            cursor: pointer;
          }
          
          .board > [data-status="mine"] {
            background-color: red;
          }
          
          .board > [data-status="number"] {
            background-color: none;
          }
          
          .board > [data-status="marked"] {
            background-color: #A9714B;
          } 